.discover-more-nfts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 60px;
  gap: 40px;

  width: 100%;
  height: 1557px;

  /* Background */

  background: #2b2b2b;
}

.section-headline-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 100px;

  width: 84%;
  height: 71px;
}

.section-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 100%;
  height: 71px;
}

.section-headline h4 {
  width: 100%;
  height: 39px;

  /* H4 - Work Sans */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  /* or 39px */

  text-transform: capitalize;

  /* White */

  color: #ffffff;
}

.section-headline p {
  width: 100%;
  height: 22px;

  /* Base(Body) - Work Sans */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  /* White */

  color: #ffffff;
}

.frame-241 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  gap: 20px;

  width: 84%;
  height: 1246px;
}

.nft-card-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  width: 100%;
  height: 402px;
}

.nft-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  width: 100%;
  height: 402px;

  background: #3b3b3b;
  border-radius: 20px;
}

.nft-card .image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 100%;
  height: 238px;

  border-radius: 20px 20px 0px 0px;
}

#discoverPage-nft-card-image {
  width: 100%;
}

.nft-card .image img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.nft-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 25px;
  gap: 25px;

  width: 100%;
  height: 164px;
}

#discoverPage-nft-info {
  width: 100%;
  height: 100%;
  padding: 20px 20px 25px;
  gap: 25px;
  background-color: transparent;
}

.nft-info .artist-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;

  width: 100%;
  height: 60px;
}

.nft-info .artist-info h5 {
  width: 100%;
  height: 31px;

  /* H5 - Work Sans */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  /* identical to box height, or 31px */

  text-transform: capitalize;

  /* White */

  color: #ffffff;
}

.artist-avatar-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 100%;
  height: 24px;
}

.artist-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 86.91%;
  height: 22px;
}

.artist-name p {
  width: 100%;
  height: 22px;

  /* Base (Body) - Space Mono */

  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  /* White */

  color: #ffffff;
}

.nft-info .additional-info {
  height: 34px;
  gap: 0;
}

.nft-info .additional-info .price,
.nft-info .additional-info .highest-bid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;

  width: 50%;
  height: 34px;
}

.nft-info .additional-info .highest-bid {
  text-align: right;
}

.nft-info .additional-info .price p,
.nft-info .additional-info .highest-bid p {
  width: 100%;
  height: 13px;

  /* Caption - Space Mono */

  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  /* or 13px */

  color: #858584;
}

.nft-info .additional-info .price p:nth-child(2),
.nft-info .additional-info .highest-bid p:nth-child(2) {
  color: #ffffff;
}

.section-headline-button-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 100px;

  width: 84%;
  height: 60px;
}

.section-headline-button-2 a {
  width: 100%;
  height: 100%;
}

.section-headline-button-2 button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;

  width: 100%;
  height: 100%;
  background-color: transparent;

  /* Call to Action */

  border: 2px solid #a259ff;
  border-radius: 20px;
}

.section-headline-button-2 p {
  height: 22px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;

  color: #ffffff;
}

@media (min-width: 700px) {
  .discover-more-nfts {
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .section-headline-button {
    grid-area: 1 / 1 / 2 / 2;
  }

  .section-headline-button-2 {
    grid-area: 1 / 2 / 2 / 3;
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-self: end;
    margin-right: 16%;
  }

  .frame-241 {
    grid-area: 2 / 1 / 3 / 3;
    height: 469px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  .frame-241 .nft-card-row,
  .frame-241 .nft-card-row .nft-card {
    height: 100%;
  }

  .frame-241 .nft-card-row .nft-card .image {
    height: 295px;
  }
}

@media (min-width: 1280px) {
  .discover-more-nfts {
    height: 780px;
    gap: 0;
  }

  .discover-more-nfts div.section-headline {
    margin-left: -4%;
  }

  .section-headline h4 {
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
  }

  .section-headline p {
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
  }

  .section-headline-button-2 {
    width: 250px;
    height: 60px;
    justify-self: end;
    margin-right: 16%;
  }

  .nft-card .nft-info {
    height: 173px;
  }
}
