footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 30px;

  width: 100%;
  height: 776px;

  /* Background - Secondary */

  background: #3b3b3b;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  width: 84%;
  height: 633px;
}

.footer-info .nft-marketplace-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 100%;
  height: 185px;
}

.footer-logo {
  width: fit-content;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer-marketplace-logo,
.footer-marketplace-logo svg {
  width: 32px;
  height: 32px;
}

.footer-marketplace-logo-text {
  height: 32px;
  width: 199px;
  text-align: center;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  /* or 35px */

  display: flex;
  align-items: center;
  padding-left: 6px;

  text-transform: capitalize;

  color: #ffffff;
}

#footer-additional-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 100%;
  height: 133px;
}

#footer-additional-info p {
  width: 100%;
  height: 44px;

  /* Base(Body) - Work Sans */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  color: #cccccc;
}

#footer-additional-info .community-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;

  width: 100%;
  height: 69px;
}

#footer-additional-info .community-info p {
  width: 100%;
  height: 22px;

  /* Base(Body) - Work Sans */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  color: #cccccc;
}

.community-info .icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 50%;
  height: 32px;
}

.icons svg {
  width: 32px;
  height: 100%;
  font-weight: 100;
  color: #858584;
  cursor: pointer;
}

.icons svg:hover {
  transform: scale(1.1)
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 100%;
  height: 161px;
}

.explore h5 {
  width: 100%;
  height: 35px;

  /* H5 - Space Mono */

  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */

  text-transform: capitalize;

  color: #ffffff;
}

.explore div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 100%;
  height: 106px;
}

.explore div p {
  width: 100%;
  height: 22px;

  /* Base(Body) - Work Sans */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  color: #cccccc;
}

.footer-subscribe {
  gap: 20px;
  height: 227px;
}

.footer-subscribe .headline-subhead h4 {
  width: 100%;
  height: 35px;

  /* H5 - Space Mono */

  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  /* or 35px */

  text-transform: capitalize;

  color: #ffffff;
}

.footer-subscribe .headline-subhead p {
  width: 100%;
  height: 44px;

  /* Base(Body) - Work Sans */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  color: #cccccc;
}

.frame-239 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 84%;
  height: 33px;
}

.frame-239 hr {
  width: 100%;
  height: 0px;
  margin: auto;
  background-color: #858584;

  /* Caption & Label Text */
  border: none;
  border-bottom: 1px solid #858584;
}

.frame-239 p {
  width: 100%;
  height: 13px;

  /* Caption - Work Sans */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  /* or 13px */

  color: #cccccc;
}

@media (min-width: 700px) {
  footer {
    height: 703px;
  }

  .footer-info {
    height: 690px;
  }

  .footer-info .nft-marketplace-info {
    height: 163px;
  }

  .nft-marketplace-info #footer-additional-info {
    height: 111px;
  }

  .footer-subscribe {
    height: 157px;
  }

  .footer-subscribe  .subscribe-widget-mobile {
    height: 60px;
  }

  .footer-subscribe  .subscribe-widget-mobile form{
    display: flex;
    flex-direction: row;
    width: 60%;
    position: relative;
  }

  .footer-subscribe  .subscribe-widget-mobile form input {
    width: 70%;
  }
  
  .footer-subscribe .subscribe-widget-mobile form button{
    width: 40%;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 1280px) {
  footer {
    height: 334px;
  }

  .footer-info {
    height: 191px;
    flex-direction: row;
  }

  .footer-info .nft-marketplace-info {
    height: 100%;
  }

  .footer-subscribe .subscribe-widget-mobile,
  .footer-subscribe .subscribe-widget-mobile form{
    width: 100%;
  }
}