.marketplace-container {
  width: 100%;
  height: fit-content;
  background: #2b2b2b;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  gap: 30px;
}

.marketplace-frame {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 84%;
  height: 100%;
}

#marketplace-headline-subhead {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}

.frame-268 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  width: 100%;
  height: fit-content;
}

.search-container {
  width: 100%;
  height: 60px;
  position: relative;
}

.marketplace-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  gap: 10px;

  width: 100%;
  height: 60px;

  /* Background - Secondary */

  border: 1px solid #3b3b3b;
  border-radius: 20px;
  background-color: transparent;

  padding-right: 20px;
}

textarea:focus,
input:focus {
  outline: none;
}

.marketplace-search::placeholder {
  color: #858584;
  width: 70%;
}

.marketplace-search[type="search"] {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  color: #858584;
}

.search-icon {
  position: absolute;
  height: 1.7rem;
  width: 1.7rem;
  padding: 4px;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  color: #FFFFFF;
}

.marketplace-section {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.tabs-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;

  /* Background */

  background: #2b2b2b;
}

.tabs-container hr {
  width: 118%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #3b3b3b;
}

#marketplace-frame-247 {
  width: 100%;
}

#marketplace-tabs div {
  width: 100%;
}

.marketplace-nft-cards-section {
  width: 100%;
  padding: 60px 0px 80px;
}

@media (min-width: 700px) {
  .frame-268 h4 {
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
  }

  #marketplace-tabs {
    gap: 30px;
  }

  #marketplace-tabs div {
    justify-content: center;
  }

  #marketplace-tabs div:nth-child(2) {
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  .frame-268 h4 {
    font-weight: 600;
    font-size: 51px;
    line-height: 110%;
  }

  .frame-268 p {
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
  }

  #marketplace-tabs div {
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
  }
}
