.subscribe-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  gap: 10px;

  width: 100%;
  height: 645px;

  /* Background */

  background: #2b2b2b;
}

.subscribe-widget-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;

  width: 84%;
  height: 565px;

  border-radius: 20px;
}

.subscribe-widget-frame img {
  width: 100%;
  height: 255px;
  object-fit: cover;
  border-radius: 20px;
}

.frame-179 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 100%;
  height: 280px;
}

.frame-179 .headline-subhead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 100%;
  height: 132px;
}

.frame-179 h4 {
  height: 78px;
}

.frame-179 p {
  height: 44px;
}

.subscribe-widget-mobile {
  width: 100%;
  height: 108px;
}

.subscribe-widget-mobile form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.subscribe-widget-mobile form input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  gap: 12px;

  width: 100%;
  height: 46px;

  /* Text */

  background: #ffffff;
  /* Caption & Label Text */

  border: 1px solid #858584;
  border-radius: 20px;

  /* Base(Body) - Work Sans */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  /* Background */

  color: #2b2b2b;
}

.subscribe-widget-mobile form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;

  width: 100%;
  height: 46px;

  /* Call to Action */

  background: #a259ff;
  border-radius: 20px;
}

.subscribe-widget-mobile form button p {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  .subscribe-widget {
    height: 480px;
  }

  .subscribe-widget-frame {
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #3b3b3b;
    padding: 0 5%;
  }

  .subscribe-widget-frame img {
    height: 280px;
  }

  .subscribe-widget-frame .frame-179 .headline-subhead h4 {
    width: 300px;
  }
}

@media (min-width: 1280px) {
  .subscribe-widget {
    height: 550px;
    padding: 40px 0;
  }

  .subscribe-widget-frame {
    height: 430px;
    background: #3b3b3b;
    padding: 0 60px;
    gap: 80px;
  }

  .subscribe-widget-frame img {
    height: 310px;
  }

  .frame-179 {
    height: 71%;
  }

  .frame-179 .headline-subhead {
    height: 172px;
  }

  .headline-subhead h4 {
    height: 92px;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
  }

  .headline-subhead p {
    height: 70px;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
  }

  .subscribe-widget-mobile form {
    display: flex;
    flex-direction: row;
    gap: 0;
    position: relative;
  }

  .subscribe-widget-mobile form input {
    width: 70%;
    z-index: 0;
    overflow: visible;
  }

  .subscribe-widget-mobile form button {
    z-index: 1;
    width: 50%;
    position: absolute;
    right: 0;
  }
}
