* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.trending-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
  gap: 40px;

  width: 100%;
  height: 718px;

  /* Background */

  background: #2b2b2b;
}

.trending-collection-frame {
  width: 84%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}

.section-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 100%;
  height: 93px;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 100%;
  height: 39px;
}

.heading h4 {
  width: 100%;
  height: 39px;

  /* H4 - Work Sans */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  /* or 39px */

  text-transform: capitalize;

  /* White */

  color: #ffffff;
}

.subhead {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 100%;
  height: 44px;
}

.subhead p {
  width: 100%;
  height: 44px;

  /* Base(Body) - Work Sans */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  /* White */

  color: #ffffff;
}

.collection-slider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  gap: 30px;

  width: 100%;
  height: 505px;
}

.collection-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;

  width: 100%;
  height: 505px;
}

.photos-number-of-additional-nft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;

  width: 100%;
  height: 425px;
}

.photos-number-of-additional-nft img {
  width: 100%;
  height: 315px;
  border-radius: 20px;
  object-fit: cover;
}

.frame-228 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
  gap: 15px;

  width: 100%;
  height: 95px;
}

.frame-228 div {
  width: 95px;
  height: 95px;
  border-radius: 20px;
}
.frame-228 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.number-of-additional-nft {
  width: 49px;
  height: 22px;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #ffffff;

  background-color: #a259ff;
}

.number-of-additional-nft p {
  font-family: "Space Mono";
  font-style: normal;
  /* or 35px */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #ffffff;
}

.collection-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 100%;
  height: 65px;
}

.collection-info h5 {
  width: 100%;
  height: 31px;

  /* H5 - Work Sans */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  /* identical to box height, or 31px */

  text-transform: capitalize;

  color: #ffffff;
}

.artist-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 100%;
  height: 24px;

  border-radius: 20px;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 24px;
  height: 24px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}

.artist-card p {
  width: 89%;
  height: 22px;

  /* Base(Body) - Work Sans */

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  color: #ffffff;
}

@media (min-width: 700px) {
  .trending-collection {
    height: 716px;
  }

  .number-of-additional-nft p {
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
  }
}

@media (min-width: 1280px) {
  .trending-collection {
    height: 836px;
    padding: 0;
  }

  .trending-collection-frame {
    height: 81%;
    gap: 60px;
  }

  .section-headline {
    height: 13.5%;
  }

  .section-headline .heading {
    padding: 0px;
    gap: 10px;
    height: 46px !important;
  }

  .section-headline .heading h4 {
    height: 46px;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
  }

  .section-headline .subhead {
    height: 35px;
  }

  .section-headline .subhead p {
    height: 100%;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
  }

  .collection-slider {
    height: 77.5%;
    gap: 30px;
  }

  .collection-slider .collection-card {
    height: 100%;
  }

  .photos-number-of-additional-nft {
    height: 445px;
  }

  .photos-number-of-additional-nft img {
    height: 75%;
  }
}
